<%- include ("partials/header.ejs") %>

<body>
    
<a id="searchLink" href="/">Back to Search</a>
<h1 id"favHeader">
    Favorite pictures
</h1>

     <% rows.forEach(function(row) { %>

     <a class="keywordLink"> <%= row['keyword'] %></a>
       
     <% }) %>
     
     <hr>
     <div id="favorites">
     </div>
       
       
<%- include ("partials/footer.ejs") %>