<%- include ("partials/header.ejs") %>  <!-- need to add - and quote on AWS or else will not work like in video tutorial -->
 

    </head>
    <body>
       
       <main>
           
           <h1> 
            Cool Images
           </h1>
           <form action="/search">
               <input type="text" size="15" placeholder="Type Keyword" name="keyword"/><br><br>
               <button>
                   Search
               </button>
           </form>
           <br>

                   
           
       </main> 

<%- include ("partials/footer.ejs") %>  <!-- need to add - and quotes on AWS or else will not work like in video tutorial --> 